:root {
    --cor0: #0A0A7B;
    --cor1: #06067D;
    --cor2: #000000;
    --cor3: #B8DBD9;
    --cor33:#b8dbd9bd;
    --cor4: #F4F4F9;
    --cor5: #04724D;
    --cor6: #1b7f5e;
    --cor7: #1b7f5e2a;
    
    
    --fonte-padrao: arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Newsreader', serif;
    --fonte-especial: 'Noto Serif', serif;
}

* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

main  { 
    
    background-color: var(--cor33);
    margin: 0 5vw 5vw 5vw;
    text-align: center;
    border-bottom-left-radius: 10vw;
    border-bottom-right-radius: 10vw;
    margin-bottom: 10vw;
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.video-do-youtube {
    margin-top: 2vw;
}

/*Section com o que a hipnose trata*/
.cartao {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}
.cartao > p {
    text-align: center;
    font-size: 1.5em;
}

.imagem-cartao {
    height: 20vw;
    width: 20vw;
    border-radius: 15px;
    margin: 20px
}

.botao-cartao {
    margin: auto;
    text-align: center;
}

/*DIVISÓRIA COM BACKGROUND IMG INICIO*/

.divisoria-img-background {

    background: black url(https://img.freepik.com/fotos-gratis/feche-pessoas-de-maos-dadas_23-2149220279.jpg?w=996&t=st=1662012959~exp=1662013559~hmac=575403d1a74e0e6fa1245db5ca50100f6b939ec9287347909acae45231b52267) center top no-repeat fixed;
    background-size: cover;
    height: 74vw;
    margin: 10vw 0vw;
    border-radius: 5vw;

}

#botao-divisoria {
    align-items: center;
    text-align: center;
    margin: 37vw 0vw  ;
    font-size: 5vw;
    padding: 1vw;

}

/*SECTION DE DEPOIMENTOS */

.titulo-depoimentos {
    margin: auto;
    padding: 1vw;
    text-align: center;
    font-style: var(--fonte-destaque);
    font-size: 6vw;
    background-color: var(--cor5);
    color: var(--cor4);
    border-radius: 10px;
    width: 80vw;
}

.sub-titulo-depoimentos {
    padding: 0.5vw;
    background-color:var(--cor2);
    color:var(--cor4) ;
    width: 50vw;
    margin: 3vw auto;
    font-size: 3vw;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}


.depoimento-imagem {
    display: block;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
}

