:root {
    --cor0: #0A0A7B;
    --cor1: #06067D;
    --cor2: #000000;
    --cor3: #B8DBD9;
    --cor33: #b8dbd9bd;
    --cor4: #F4F4F9;
    --cor5: #04724D;
    --cor5-1: #04724db4;
    --cor6: #1b7f5e;
    --cor7: #1b7f5e2a;


    --fonte-padrao: arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Newsreader', serif;
    --fonte-especial: 'Noto Serif', serif;
}

* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

main {

    background-color: var(--cor33);
    margin: 0 5vw 5vw 5vw;
    text-align: center;
    border-bottom-left-radius: 10vw;
    border-bottom-right-radius: 10vw;
    margin-bottom: 10vw;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.paragrafo-texto-comum {
    font: var(--fonte-padrao);
    padding: 5vw 12vw;
    text-align: justify;

}

/* BOTÃO FLUTUANTE INICIO*/

.botao-flutuante-div{
    margin-left: 75%;
    position: sticky;
    top: 10px;
   }

.botao-flutuante-contato {
    margin-top: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    

}


.texto-botao-flutuante:hover {
    font-size: 10%;

}

.botao-flutuante-contato:hover {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #04724D;
}

/*BOTÃO FLUTUANTE FIM */

.video-do-youtube {
    margin-top: 2vw;
}

.paragrafo-video {
    padding: 5vw;
    font-size: 5vw;
}


/*DIVISÓRIA COM BACKGROUND IMG INICIO*/

.divisoria-img-background {

    background: black url(https://img.freepik.com/fotos-gratis/feche-pessoas-de-maos-dadas_23-2149220279.jpg?w=996&t=st=1662012959~exp=1662013559~hmac=575403d1a74e0e6fa1245db5ca50100f6b939ec9287347909acae45231b52267) center top no-repeat fixed;
    background-size: cover;
    height: 40vw;
    margin: 5vw 0vw;
    border-radius: 5vw;

}

#botao-divisoria {
    align-items: center;
    text-align: center;
    margin: 16vw 0vw;
    font-size: 5vw;
    padding: 1vw;

}

/*SECTION DE DEPOIMENTOS */

.section-depoimentos {
    display: flex;
    flex-flow: row wrap;
}

.depoimento {
    order: 1;
}

.titulo {
    margin: 2.5vw auto;
    padding: 1vw;
    text-align: center;
    font-style: var(--fonte-destaque);
    font-size: 6vw;
    background-color: var(--cor5);
    color: var(--cor4);
    border-radius: 10px;
    width: 80vw;
}

.sub-titulo {
    padding: 0.5vw;
    width: 65vw;
    margin: 3vw auto;
    font-size: 4vw;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: var(--cor5-1);
    color: var(--cor4);
}


.depoimento-imagem {
    display: block;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 2vw;
}